
<div class="job">


<div class="jobDetails">
  <p><strong>Name of Post:</strong> <span [innerHTML]="title"></span></p>
  <p><strong>Post Date / Update:</strong> <span [innerHTML]="postDate"></span></p>
  <p><strong>Short Information:</strong> <span [innerHTML]="shortInformation"></span></p>
</div>
   <div class="jobPage">
    <div *ngFor="let section of data">
      <h3 class="header">  <span [innerHTML]="section.title"></span> </h3>
    
      <app-list-display
        *ngIf="section.dataType === 'list'"
        [listData]="section.data">
      </app-list-display>
    
      <app-table-display
        *ngIf="section.dataType === 'table'"
        [data]="section.data">
      </app-table-display>
  
      <hr>
    </div>
  
  </div>
</div>
  