<table>
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let rowIndex = index">
      <ng-container *ngFor="let header of headers; let colIndex = index">
        <td *ngIf="shouldRenderCell(rowIndex, colIndex)"
            [attr.rowspan]="getRowSpan(rowIndex, colIndex)">
          <p *ngIf="!isList(row[header])">
            <span [innerHTML]="row[header]" [ngStyle]="{ 'font-family': 'Poppins' }"></span>
          </p>
          <app-list-display *ngIf="isList(row[header])" [listData]="row[header]"></app-list-display>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
