<header class="header">
  <div class="header-top">
    <img src="assets/images/logo.png" alt="Sarkari Serivce Logo" class="logo" />
    <div class="title">
      <h1>Service Sarkari</h1>
      <p>
        <a href="https://www.servicesarkari.com" target="_blank" rel="noopener noreferrer" class="link-style" style="color: white;">
          www.servicesarkari.com
        </a>
      </p>
          </div>
  </div>

  <nav class="nav-bar">
    <a style="cursor: pointer;" href="" class="nav-item">Home</a>
    <a style="cursor: pointer;"  *ngFor="let item of records" (click)="openInNewTab('/type/' + item.typeOfPost)" class="nav-item">
      {{ item.typeOfPost }}
    </a>
  </nav>
</header>