<header class="header">
  <div class="header-top">
    <img src="assets/images/logo.png" alt="Sarkari Serivce Logo" class="logo" />
    <div class="title">
      <h1>Sarkari Serivce</h1>
      <p>WWW.SarkariSerivce.COM</p>
    </div>
  </div>

  <nav class="nav-bar">
    <a style="cursor: pointer;" href="" class="nav-item">Home</a>
    <a style="cursor: pointer;"  *ngFor="let item of records" (click)="openInNewTab('/type/' + item.typeOfPost)" class="nav-item">
      {{ item.typeOfPost }}
    </a>
  </nav>
</header>