.section {
    background-color: #fff;
    border: 2px solid #dcdcdc;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
  }
  
  p {
    background-color: #a60000;
    color: #fff;
    margin: 0;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .view-more {
    display: inline-block;
    padding: 10px 10px;
    background-color: #a60000; /* Primary blue color */
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: capitalize;
    border: none;
    outline: none;
    user-select: none;
    
}

.view-more:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05);
}

.view-more:active {
    background-color: #00408a; /* Even darker blue on click */
    transform: scale(0.95);
}
body{
  font-family: poppins;
}