<table>
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let header of headers">
  
        
            <p *ngIf="!isList(row[header])">
            <span [innerHTML]="row[header]"></span></p>

  
          <!-- List Rendering -->
          <app-list-display 
            *ngIf="isList(row[header])" 
            [listData]="row[header]"
          ></app-list-display>
  
          
  
        </td>
      </tr>
    </tbody>
  </table>
  