ul {
  list-style-type: disc;
      padding-left: 20px;
    margin: 0;
 /* Green text for list items */
    
  }
  
  li {
    margin-bottom: 5px;
  }
  
  body{
    font-family: poppins;
  }
  ul li::marker {
    color: black;               /* specifically targets the bullet color */
  }